<h1 class="mt-4" id="ctr">Histórico de movimentações</h1>

<h2 class="mt-4">Alunos</h2>

<ng-container *ngIf="students$ | async as students">
  <table mat-table [dataSource]="students" class="mat-elevation-z1" aria-label="Tabela de alunos">
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef>Código</th>
      <td mat-cell *matCellDef="let s">{{ s.id }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nome</th>
      <td mat-cell *matCellDef="let s">{{ s.name }}</td>
    </ng-container>

    <ng-container matColumnDef="balance">
      <th mat-header-cell *matHeaderCellDef>Saldo</th>
      <td mat-cell *matCellDef="let s">{{ s.balance }}</td>
    </ng-container>

    <ng-container matColumnDef="purchases">
      <th mat-header-cell *matHeaderCellDef>Compras</th>
      <td mat-cell *matCellDef="let s">
        <div *ngFor="let p of s.purchases">
          {{ p.quantity }}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="datePurchase">
      <th mat-header-cell *matHeaderCellDef>Data das Compras</th>
      <td mat-cell *matCellDef="let s">
        <div *ngFor="let p of s.purchases">
          {{ p.purchaseDate | date : 'short' }}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="printJobs">
      <th mat-header-cell *matHeaderCellDef>Impressões</th>
      <td mat-cell *matCellDef="let s">
        <ng-container *ngIf="s.printJobs && s.printJobs.length > 0; else noPrints">
          <div *ngFor="let pj of s.printJobs">
            {{ pj.quantity }}
          </div>
        </ng-container>
        <ng-template #noPrints>0</ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="printDate">
      <th mat-header-cell *matHeaderCellDef>Data das Impressões</th>
      <td mat-cell *matCellDef="let s">
        <ng-container *ngIf="s.printJobs && s.printJobs.length > 0; else noDate">
          <div *ngFor="let pj of s.printJobs">
            {{ pj.printDate | date : 'short' }}
          </div>
        </ng-container>
        <ng-template #noDate>00/00/0000 00:00</ng-template>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</ng-container>
