<mat-toolbar color="primary">
  <span>
    <img
      src="assets/logo_senac.svg"
      alt="Logo Senac"
      width="176"
      height="56"
      style="vertical-align: middle; margin-right: 8px"
    />
  </span>

  <span class="spacer"></span>

  <div class="align">
    <button
      matButton="filled"
      class="adsmll-btn"
      [routerLink]="['/add']"
      routerLinkActive="router-link-active"
      (click)="addStudent()"
    >
      <mat-icon>person_add</mat-icon>
    </button>

    <button
      matButton="filled"
      class="adsmll-btn"
      [routerLink]="['/add']"
      routerLinkActive="router-link-active"
      (click)="addPurchase()"
    >
      <mat-icon>shopping_cart</mat-icon>
    </button>

    <button
      matButton="filled"
      class="adsmll-btn"
      [routerLink]="['/add']"
      routerLinkActive="router-link-active"
      (click)="printJob()"
    >
      <mat-icon>print</mat-icon>
    </button>
  </div>

  <!-- Botão de menu flutuante adicional -->
  <div class="align" style="margin-left: 10px">
    <button mat-mini-fab color="accent" [matMenuTriggerFor]="menu" aria-label="Menu">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/students']" (click)="goHome()">
      <mat-icon>home</mat-icon>
      Home
    </button>

    <button mat-menu-item [routerLink]="['/add']" (click)="openHistory()">
      <mat-icon>history</mat-icon>
      Histórico
    </button>

    <mat-divider></mat-divider>
    <!--*ngIf="isLoggedIn" <button mat-button (click)="onLogin()" *ngIf="!isLoggedIn">Login</button>-->
    <button mat-button (click)="onLogout()">Logout</button>
  </mat-menu>
</mat-toolbar>
